{% extends "base.html" %}

{% block content %}
    <a href="/">&larr; Volver</a>
    <h1>{{ cosa.name }} - {{ cosa.description }}</h1>

    <div class="dashboard-columns">
        <section class="dashboard-column">
            <h2>Notas</h2>
            {% if notes.is_empty() %}
            <p><em>No hay notas todavía.</em></p>
            {% else %}
            <ul class="card-list">
              {% for note in notes %}
                <li class="card">
                    <details>
                        <summary>{{ note.title }}</summary>
                        <p>{{ note.body }}</p>
                        <small>🆔 {{ note.id }}</small>
                    </details>
                </li>
              {% endfor %}
            </ul>
            {% endif %}

            <details>
                <summary>Nueva Nota</summary>
                <form action="/cosas/{{ cosa.id }}/notes" method="post" style="margin-top:20px;">
                    <input type="text" name="title" placeholder="Título" required />
                    <br />
                    <textarea name="body" placeholder="Nota"></textarea>
                    <br />
                    <button type="submit">Guardar</button>
                </form>
            </details>
        </section>

        <section class="dashboard-column">
            <h2>Recordatorios</h2>
            {% if reminders.is_empty() %}
            <p><em>No hay recordatorios todavía.</em></p>
            {% else %}
            <ul class="card-list">
              {% for reminder in reminders %}
                <li class="card">
                    <details>
                        <summary {%if reminder.done %}style="text-decoration: line-through;"{% endif %}>
                            {{ reminder.get_formatted_due_date() }} - {{ reminder.title }}
                        </summary>
                        <p>{{ reminder.body }}</p>
                        <label class="checkbox-label">
                            <input type="checkbox" name="done" value="true" {% if reminder.done %}checked{% endif %} />
                            <span>Hecho</span>
                        </label>
                        <small>🆔 {{ reminder.id }}</small>
                    </details>
                </li>
              {% endfor %}
            </ul>
            {% endif %}

            <details>
                <summary>Nuevo Recordatorio</summary>
                <form action="/cosas/{{ cosa.id }}/reminders" method="post" style="margin-top:20px;">
                    <input type="text" name="title" placeholder="Título" required />
                    <input type="date" name="due_at" placeholder="Fecha" required />
                    <br />
                    <textarea name="body" placeholder="Nota"></textarea>
                    <br />
                    <button type="submit">Guardar</button>
                </form>
            </details>
        </section>
    </div>
{% endblock %}
