{% extends "base.html" %}

{% block content %}
  <h1>📝 Cosas</h1>

  <h2>Todas Las Cosas</h2>
  {% if cosas.is_empty() %}
    <p><em>No hay cosas todavía.</em></p>
  {% else %}
    <ul class="card-grid">
      {% for cosa in cosas %}
        <li class="card">
          <a href="/cosas/{{ cosa.id }}">
              <div style="display:flex;justify-content:space-between;">
                  <h4>{{ cosa.name }}</h4>
                  <button type="button" onclick="deleteCosa({{ cosa.id }})" class="icon-btn">🗑️</button>
              </div>
              <p>{{ cosa.description }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <details>
      <summary>Agregar Cosa</summary>
      <form action="/cosas" method="post" style="margin-top:20px;">
        <input type="text" name="name" placeholder="Nombre" required />
        <br />
        <textarea name="description" placeholder="Descripción" required></textarea>
        <br />
        <button type="submit">Crear Cosa</button>
      </form>
  </details>

{% endblock %}
