<h2>🗓️ Recordatorios</h2>

{% if reminders.is_empty() %}
    <p><em>No hay recordatorios todavía.</em></p>
{% else %}
    <ul class="card-list">
      {% for reminder in reminders %}
        <li class="card" id="reminder-{{ reminder.id }}">
            <details>
                <summary style="display:flex;justify-content:space-between;">
                    <div style="display:flex;align-items:center;">
                        <input
                            type="checkbox"
                            name="done"
                            value="true"
                            {% if reminder.done %}checked{% endif %}
                            onchange="toggleReminderDone({{ cosa.id }}, {{ reminder.id }}, this)" 
                        />
                        <span
                            id="reminder-title-{{ reminder.id }}"
                            style="margin-left:0.2rem;"
                            {%if reminder.done %}class="done"{% endif %}
                        >
                            {{ reminder.get_formatted_due_date() }} - {{ reminder.title }}
                        </span>
                    </div>

                    <button type="button" onclick="deleteEntity({{ cosa.id }}, 'reminder', {{ reminder.id }})" class="icon-btn">🗑️</button>
                </summary>

                <p>{{ reminder.body }}</p>
            </details>
        </li>
      {% endfor %}
    </ul>
{% endif %}

<details>
    <summary class="add-item">Nuevo Recordatorio</summary>
    <form action="/cosas/{{ cosa.id }}/reminders" method="post" style="margin-top:20px;">
        <input type="text" name="title" placeholder="Título" required />
        <input type="date" name="due_at" placeholder="Fecha" required />
        <br />
        <textarea name="body" placeholder="Nota"></textarea>
        <br />
        <button type="submit">Guardar</button>
    </form>
</details>

<script>
    async function toggleReminderDone(cosaId, reminderId, checkbox) {
        try {
            const response = await fetch(`/cosas/${cosaId}/reminders/${reminderId}/done`, {
                method: 'PATCH',
            });
            if (!response.ok) {
                checkbox.checked = !checkbox.checked;
            } else {
                document.getElementById(`reminder-title-${reminderId}`).classList.toggle('done');
            }
        } catch (e) {
            checkbox.checked = !checkbox.checked;
        }
    }
</script>

